<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @presponsable.nombre %>
</p>

<%= link_to 'Edit', edit_presponsable_path(@presponsable) %> |
<%= link_to 'Back', presponsables_path %>
