<div class='control-group nested-fields'>
  <div class="controls">
    <li>
    <%= f.association :presponsable,
      label: "Presunto Responsable",
      label_method: :nombre,
      value_method: :id %>
    <%= f.input :otro %>
    <%= link_to_remove_association "Eliminar Presunto Responsable", f, 
      :class => 'btn-danger' %> 
    </li>
  </div>
</div>
