<div class='control-group nested-fields'>
  <div class="controls">
    <li>
      <%= f.association :presponsable,
        label: "Presunto Responsable",
        label_method: :nombre,
        value_method: :id %>
      <%= f.input :otro %>
      <%= f.input :id, as: :hidden %>
      <%= link_to_remove_association "Eliminar Presunto Responsable", f, 
        {:class => 'btn-danger', :"data-existing" => "true"} %> 
    </li>
  </div>
</div>
